.zmanimTitle {
    text-align: right;
}

.zmanimValue {
    text-align: left;
    color: white;
    padding-left: 10px;
}

.calendarValue {
    text-align: center;
    color: white;
    padding-bottom: 10px;
}